/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_store
document/javascript/
composer.lock
.package.json.swp
package-lock.json
composer.lock
client/pet_store_api/dist
client/pet_store_api/.openapi-generator
client/pet_store_api/node_modules
webpack.mix.js
composer.lock
.gitignore
